* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background: rgba(0,0,0,0.5);
  padding: 0px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header-right {
  display: flex;
  height: 100px;
  align-items: center;
}

.table { 
  width: 100%; 
}

input.checkbox {
  width: 40px;
  height: 40px;
}

.menu {
  display: flex;
  justify-content: center;
}

.header a:hover {
  background-color: rgba(0,0,0,0.5);
  color: orange;
}

.header a.active {
  background-color: orange;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
