#help-btn {
    background-color: rgb(255, 153, 0) !important;
    color: rgb(49, 45, 45) !important;
    padding: 10px 20px !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    position: absolute !important;
    top: 0 !important;
    left: 10px !important;
    margin: 10px !important;
}

#help-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(98, 223, 228);
    padding: 20px;
    border: 2px solid black;
}

.issue-container {
    position: relative;
}

.issue-container label {
    position: absolute;
    top: 0;
    left: 0;
}

.issue-container textarea {
    margin-top: 20px;
}






