.App {
  text-align: center;
}

.form {
  display : flex;
  flex-direction : column;
  align-items : center;
  justify-content: center;
}

.form input {
  height : 300;
  width : 60;
  margin : 10;
}
