:root {
	--gradient: linear-gradient(
		45deg,
		#3e8143,
		#88919b,
		#b34734
	);
}

.body{
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 0;
	background: linear-gradient(to bottom right, #4b6c91, #1863d3);
}

.backgroundofcart{
    margin: 0; 
    width: 100%; 
	height: auto;
    text-align: center; 
	background-image: var(--gradient);
    border-radius: 10px;
    box-shadow: 0px 10px 20px #deee0433;
}

.Header{
	margin: auto;
	width: 90%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Heading{
	font-size: 3vw;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #f5f7f8;
}

.Action{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #5a3535;
	cursor: pointer;
	border-bottom: 1px solid #E44C4C;
}

.items-in-cart{
	margin: auto;
	width: 90%;
	height: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.image-box{
	width: 15%;
	text-align: center;
}
.about{
	height: 100%;
	width: 24%;
}
.title{
	padding-top: 10px;
	line-height: 10px;
	font-size: 2vw;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}

.subtitle{
	line-height: 10px;
	font-size: 1vw;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #e7dbdb;
	} 

.counter{
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	cursor: pointer;
}
.count{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}

.prices{
	height: 100%;
	text-align: right;
}
.amount{
	padding-top: 20px;
	font-size: 2vw;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}

.pad{
	margin-top: 5px;
}

hr{
	width: 66%;
	float: right;
	margin-right: 5%;
}
.checkout{
	float: right;
	margin-right: 5%;
	width: 28%;
}
.total{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.Subtotal{
	font-size: 3vw;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}
.total-amount{
	font-size: 2.5vw;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
}
.button{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}