
.App2 {
  background-image: url("https://img.restaurantsbrighton.co.uk/wp-content/uploads/2021/01/Carlito-Burrito.jpg");
}

header{
  background-color: white;
}

.header2 {
  background-color: rgba(0,0,0,0.5);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section#contact {
  padding: 50px;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
}

section#contact h2 {
  font-size: 36px;
  margin-bottom: 50px;
}

section#contact form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section#contact form input,
section#contact form textarea {
  margin: 10px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

section#contact form input[type="submit"] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
  /* About Section Styles */
section#about {
  padding: 50px;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}

section#about h2 {
  font-size: 36px;
  margin-bottom: 50px;
}

.table { 
  width: 100%;
}

input.checkbox {
  width: 40px;
  height: 40px;
}

.menu {
  display: flex;
  justify-content: center;
}

.items {
  display: flex;
  gap: 10px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid black;
  border-radius: 10px;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.add-to-cart{
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  background-color: black;
  width: 100%;
  height: 40px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  margin: 15px auto;
}

.add-to-cart:hover {
  background-color: blue;
}

.add-to-cart:active {
  transform: translateY(2px);
}

.delete {
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  background-color: black;
  width: 20%;
  height: 40px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  margin: 15px auto;
}

.delete:hover {
  background-color: red;
}

.delete:active {
  transform: translateY(2px);
}

.rowA{
  background-color: 
  white;
  }
  
  .rowB{
  background-color: 
  #fff37f;
  }

  :root {
    --gradient: linear-gradient(
      45deg,
      #3e8143,
      #88919b,
      #b34734
    );
  }
  
  .body{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0;
    background: linear-gradient(to bottom right, #4b6c91, #1863d3);
  }
  
  .backgroundofcart{
      margin: 0; 
      width: 100%; 
    height: auto;
      text-align: center; 
    background-image: var(--gradient);
      border-radius: 10px;
      box-shadow: 0px 10px 20px #deee0433;
  }
  
  .Header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Heading{
    font-size: 3vw;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #f5f7f8;
  }
  
  .Action{
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #5a3535;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
  }
  
  .items-in-cart{
    margin: auto;
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image-box{
    width: 15%;
    text-align: center;
  }
  .about{
    height: 100%;
    width: 24%;
  }
  .title{
    padding-top: 10px;
    line-height: 10px;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
  }
  
  .subtitle{
    line-height: 10px;
    font-size: 1vw;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #e7dbdb;
    } 
  
  .prices{
    height: 100%;
    text-align: right;
  }
  .amount{
    padding-top: 20px;
    font-size: 2vw;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
  }
  
  .pad{
    margin-top: 5px;
  }
  
  hr{
    width: 66%;
    float: right;
    margin-right: 5%;
  }
  .checkout{
    float: right;
    margin-right: 5%;
    width: 28%;
  }
  .total{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .Subtotal{
    font-size: 3vw;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #202020;
  }
  .total-amount{
    font-size: 2.5vw;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
  }
  .button{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #202020;
  }

  .dropdown-check-list {
    display: inline-block;
  }
  
  .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 0px;
    border: 1px solid #ccc;
  }
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
  }
  
  .dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    background-color: white;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .dropdown-check-list ul.items li {
    list-style: none;
  }
  
  .dropdown-check-list.visible .anchor {
    color: #0094ff;
  }
  
  .dropdown-check-list.visible .items {
    display: block;
  }